
        <div class="cont">
            <section class="portfolio-single type-1 top_90">
                <figure class="hero-image">
                    <img src="{{image}}" alt="">
                </figure>
                <ul class="information">
                    <li><span>Author:</span> {{author}}</li>
                    <li><span>Date:</span> {{date}}</li>
                    <li><span>Title:</span> {{title}}</li>
                    <li><span>Category:</span> {{category}}</li>
                </ul>
                <h1 class="title bottom_15">{{description}}</h1>
                <p>{{content}}</p>

                
                <div class="col-md-12 portfolio-nav text-center top_90">
                    <a class="port-next" href="{{nexturl}}">
                        <div class="nav-title">next</div>
                        <div class="next-title">{{next}}</div>
                    </a>
                </div>

            </section>

        </div> <!-- cont end -->

    