
        <div class="cont">
            <section class="portfolio-single type-1 top_90">
                <figure class="hero-image">
                    <img src="{{image}}" alt="">
                </figure>
                <ul class="information">
                    <li><span>Author:</span>{{Author}}</li>
                    <li><span>Date:</span>{{Date}}</li>
                    <li><span>Title:</span>{{Title}}</li>
                    <li><span>Category:</span>{{Category}}</li>
                </ul>
                <h1 class="title bottom_15">{{Description title}}</h1>
                <p>{{Content}}</p>

                
                <div class="col-md-12 portfolio-nav text-center top_90">
                    <a class="port-next" href="work-2.html">
                        <div class="nav-title">next</div>
                        <div class="next-title">{{Next}}</div>
                    </a>
                </div>

            </section>

        </div> <!-- cont end -->

    